@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "variables";
@import "carrusel";
@import "titulos";
@import "mapa";


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    border-bottom: 1px solid rgb(94, 67, 131);

}





.pasteles {
    display: inline-block;
    margin: 0rem 1.5rem;
    font-family: $fuente_prim;
    text-align: start;
    font-size: 20px;
}




.menu {
    list-style-type: none;
    margin: 0 auto;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    margin-top: 4rem;
    flex-direction: column;
    max-width: 100%;
}


.mapa {
    display: flex;
    justify-content: center;
}



.card-title {
    font-weight: 900;
    font-size: 35px;
}

.card-text {
    font-size: 20px;
}

.trabajo {
    text-align: center;
    box-shadow: rgba(236, 15, 159, 0.25) 0px 6px 12px -2px, rgba(250, 5, 197, 0.3) 0px 3px 7px -3px;
    padding: 1.5rem 1.5rem;
    font-family: $fuente_prim;
}


.menu_pasteles {

    text-align: center;
    box-shadow: $rosa2 0px 6px 12px -2px, $rosa1 0px 3px 7px -3px;
    padding: 1.5rem 1.5rem;
    font-family: $fuente_prim;

}



.main_img {
    width: 50%;
}

.info {
    width: 82%;
}

.info h2 {
    margin-bottom: 1.3rem;
    font-family: $fuente_prim;
    font-weight: 900;
}

.info p {
    font-family: $fuente_prim;
}

.info div {
    margin-top: 1.5rem;
    background-color: rgb(104, 104, 226);
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;


}



.formulario {
@if $vista == desktop{
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: 30px 30px 30px 30px 100px;
    max-width: 30%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 0 auto;
    background-image: url(../img/fondo_titulo.jpg);
    background-size: cover;
    padding: 20px 25px;
    margin-top: 30px;
    font-family: $fuente_prim;
    font-weight: bold;
}
@else if $vist == mobile{
    @media (max-width: 768px) {
        .formulario {
            background-size: 780px;
            grid-template-columns: 90px 150px;
            grid-template-rows: 30px 30px 30px 30px 100px;
            max-width: 50%;
            margin: 0 auto;
        }
    }
}

}



.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $rosa1;
    height: 50px;
}
.btn_enviar{
    @extend .botones;
    background-color: aqua;
    color: black
}
.btn_limpiar{
    @extend .botones;
    background-color: yellow;
    color: black;
}

#footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: $fuente_prim;
    font-weight: bold;
    position: relative;
    height: 100%;
    max-width: 100%;
    align-items: center;
    gap: 10rem;
    margin-top: 6rem;
    margin-bottom: 100rem;
    box-shadow: $rosa2 0px 6px 12px -2px, $rosa1 0px 3px 7px -3px;
    background-color: $rosa1;
}


#logo {
    width: 186px;
    height: 142px;
    justify-content: center;
    margin: 0 auto;
}

#contacto {
    text-align: left;
    color: $rosa2;

}

#siguenos {
    text-align: right;
    color: $rosa2;

}



.textofooter {
    justify-content: center;
    align-content: center;
    max-width: 100%;

    text-align: center;

    padding: 1.5rem 1.5rem;

}